body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #f2ece7;
}

.header {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0;
}

.header__inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #8b7968;
}

.header__buttons {
    position: absolute;
    right: 20px;
}