body {
    background: #fff;
}

.confirm__content {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1230px;
}

.confirm-form__heading {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #8b7968;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #dfdfdf;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    padding-left: 50px;
    width: 30%;
    border-bottom: 1px solid #fff;
    background-color: #bba99a;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.confirm-table__text {
    border-bottom: 1px solid #dfdfdf;
    color: #8b7968;
    text-align: left;
    padding-left: 50px;
}

.confirm-table__text p {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    font-size: 15px;
    padding: 10px;
    width: 12%;
    height: 40px;
    border: none;
    background: #8b7968;
    color: #fff;
    cursor: pointer;
}

.form__button-edit {
    margin-left: 15px;
    font-size: 15px;
    padding: 0 10px;
    border: none;
    background: #fff;
    color: #8b7968;
    border-bottom: 1px solid #dfdfdf;
    display: inline-block;
    width: auto;
}

